<table class="table table-sm">
    <thead>
        <tr>
            <th>Vật tư</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.tenVatTu</td>
                <td>@x.soLuong</td>
                <td>@x.donGia.ToString("N0")</td>
                <td>@(((decimal)x.soLuong * (decimal)x.donGia).ToString("N0"))</td>
            </tr>
        }
    </tbody>
</table>
