@model ClinicManager.ViewModels.ChamCong.ChamCongChiTietVm

<h3>Chi tiết chấm công</h3>

<p><b>Ngày:</b> @Model.Ngay.ToString("dd/MM/yyyy")</p>
<p><b>Giờ vào:</b> @Model.GioVao</p>
<p><b>Giờ ra:</b> @Model.GioRa</p>
@if (User.IsInRole("Admin"))
{
    <button class="btn btn-warning"
            data-id="@Model.ChamCongId"
            id="btnEditChamCong">
        Sửa chấm công
    </button>
}

<!-- MODAL -->
<div class="modal fade" id="editChamCongModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Sửa chấm công</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ChamCongId" />

                <label>Giờ vào</label>
                <input type="datetime-local" id="ThoiGianVao" class="form-control" />

                <label class="mt-2">Giờ ra</label>
                <input type="datetime-local" id="ThoiGianRa" class="form-control" />
                <br />
                <label>
                    <input type="checkbox" id="NghiPhep" />
                    Nghỉ phép
                </label>
                <br />
                <label class="ms-2">
                    <input type="checkbox" id="NghiPhepCoLuong" />
					Nghỉ phép có lương
                </label>
                <br />
                <label class="mt-2">Lý do</label>
                <textarea id="LyDo" class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnSaveChamCong">Lưu</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
