@{
    ViewData["Title"] = "Lịch sử châm công";
}

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet" />

@if (User.IsInRole("Admin"))
{
    <div class="mb-2">
        <label>Chọn nhân viên</label>
        <select id="nhanVienSelect" class="form-control"></select>
    </div>
}

<div id="calendar"></div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>