@using ClinicManager.ViewModels.DotDieuTri
@model DotDieuTriCreateVm
@{
    ViewData["Title"] = "Khám và tạo đợt điều trị";
}

<h3>Khám và tạo đợt điều trị</h3>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="BenhNhanId" />
    <input type="hidden" asp-for="TenBenhNhan" />

    <div class="form-group">
        <label>Bệnh nhân</label>
        <input class="form-control" value="@Model.TenBenhNhan" readonly />

    </div>

    <div class="form-group">
        <label>Bác sỹ khám</label>
        <select asp-for="BacSiKhamId" asp-items="Model.BacSiList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Ngày khám</label>
        <input asp-for="NgayKham" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tiền sử bệnh</label>
        <textarea asp-for="TienSuBenh" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Chẩn đoán</label>
        <textarea asp-for="ChanDoan" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Phác đồ điều trị</label>
        <textarea asp-for="PhacDoDieuTri" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Gói điều trị</label>
        <select asp-for="GoiDieuTriId" asp-items="Model.GoiDieuTriList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>% giảm giá</label>
        <input asp-for="PhanTramGiamGia" class="form-control" />
    </div>

    <button class="btn btn-primary mt-3">
        Tạo đợt điều trị
    </button>

</form>
