@model ClinicManager.ViewModels.Luong.NgayLeVm

@{
    ViewData["Title"] = "Thêm ngày lễ";
}

<h3>Thêm ngày lễ</h3>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="col-md-4 mb-2 p-0">
        <label>Ngày</label>
        <input asp-for="Ngay" type="date" class="form-control" />
    </div>

    <div class="col-md-6 mb-2 p-0">
        <label>Tên ngày lễ</label>
        <input asp-for="Ten" class="form-control" />
    </div>

    <div class="form-check mb-3">
        <input asp-for="CoTinhLuong" class="form-check-input" />
        <label class="form-check-label">
            Nghỉ nhưng vẫn tính lương
        </label>
    </div>

    <button class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
