USE [ClinicManagerr]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[nhanVienId] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangLuongThangChiTiets]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuongThangChiTiets](
	[bangLuongThangChiTietId] [int] IDENTITY(1,1) NOT NULL,
	[bangLuongThangId] [int] NOT NULL,
	[loai] [int] NOT NULL,
	[soTien] [decimal](18, 0) NOT NULL,
	[dienGiai] [nvarchar](max) NOT NULL,
	[nhanVienId] [int] NOT NULL,
 CONSTRAINT [PK_BangLuongThangChiTiets] PRIMARY KEY CLUSTERED 
(
	[bangLuongThangChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangLuongThangs]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuongThangs](
	[bangLuongThangId] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[tongLuong] [decimal](18, 0) NOT NULL,
	[daChot] [bit] NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BangLuongThangs] PRIMARY KEY CLUSTERED 
(
	[bangLuongThangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhanGoiDieuTris]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhanGoiDieuTris](
	[benhNhanGoiDieuTriId] [int] IDENTITY(1,1) NOT NULL,
	[benhNhanId] [int] NOT NULL,
	[khamBenhId] [int] NOT NULL,
	[goiDieuTriId] [int] NOT NULL,
	[tongSoBuoi] [int] NOT NULL,
	[soBuoiDaDung] [int] NOT NULL,
	[ngayMua] [datetime2](7) NOT NULL,
	[trangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BenhNhanGoiDieuTris] PRIMARY KEY CLUSTERED 
(
	[benhNhanGoiDieuTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhans]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhans](
	[benhNhanId] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](max) NOT NULL,
	[ngaySinh] [datetime2](7) NULL,
	[gioiTinh] [nvarchar](max) NOT NULL,
	[soDienThoai] [nvarchar](max) NOT NULL,
	[diaChi] [nvarchar](max) NOT NULL,
	[nguoiGioiThieuId] [int] NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BenhNhans] PRIMARY KEY CLUSTERED 
(
	[benhNhanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiDieuTriAudits]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiDieuTriAudits](
	[buoiDieuTriAuditId] [int] IDENTITY(1,1) NOT NULL,
	[buoiDieuTriId] [int] NOT NULL,
	[adminNhanVienId] [int] NOT NULL,
	[ngayDieuTriCu] [datetime2](7) NOT NULL,
	[bacSiDieuTriTayIdCu] [int] NULL,
	[kyThuatVienTapIdCu] [int] NULL,
	[noiDungTapCu] [nvarchar](max) NULL,
	[noiDungDieuTriTayCu] [nvarchar](max) NULL,
	[chiDinhDacBietCu] [nvarchar](max) NULL,
	[chiPhiThuocVatTuCu] [decimal](18, 2) NOT NULL,
	[ngayDieuTriMoi] [datetime2](7) NOT NULL,
	[bacSiDieuTriTayIdMoi] [int] NULL,
	[kyThuatVienTapIdMoi] [int] NULL,
	[noiDungTapMoi] [nvarchar](max) NULL,
	[noiDungDieuTriTayMoi] [nvarchar](max) NULL,
	[chiDinhDacBietMoi] [nvarchar](max) NULL,
	[chiPhiThuocVatTuMoi] [decimal](18, 2) NOT NULL,
	[lyDo] [nvarchar](max) NOT NULL,
	[suaLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BuoiDieuTriAudits] PRIMARY KEY CLUSTERED 
(
	[buoiDieuTriAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiDieuTriNhanViens]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiDieuTriNhanViens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buoiDieuTriId] [int] NOT NULL,
	[nhanVienId] [int] NOT NULL,
	[vaiTro] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BuoiDieuTriNhanViens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuoiDieuTris]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiDieuTris](
	[buoiDieuTriId] [int] IDENTITY(1,1) NOT NULL,
	[benhNhanId] [int] NOT NULL,
	[dotDieuTriId] [int] NOT NULL,
	[ngayDieuTri] [datetime2](7) NOT NULL,
	[chiDinhDacBiet] [nvarchar](max) NULL,
	[noiDungTap] [nvarchar](max) NULL,
	[bacSiDieuTriTayId] [int] NULL,
	[chiPhiThuocVatTu] [decimal](18, 0) NOT NULL,
	[kyThuatVienTapId] [int] NULL,
	[noiDungDieuTriTay] [nvarchar](max) NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BuoiDieuTris] PRIMARY KEY CLUSTERED 
(
	[buoiDieuTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhLuongs]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhLuongs](
	[cauHinhLuongId] [int] IDENTITY(1,1) NOT NULL,
	[gioBatDauSang] [time](7) NOT NULL,
	[gioKetThucSang] [time](7) NOT NULL,
	[gioBatDauChieu] [time](7) NOT NULL,
	[gioKetThucChieu] [time](7) NOT NULL,
	[soGioLamChuanNgay] [decimal](18, 2) NOT NULL,
	[tienAnTruaNgay] [decimal](18, 2) NOT NULL,
	[tienXangXeThang] [decimal](18, 2) NOT NULL,
	[tienChuyenCan] [decimal](18, 2) NOT NULL,
	[tienDieuTriTayMoiBuoi] [decimal](18, 2) NOT NULL,
	[tienTapMoiBuoi] [decimal](18, 2) NOT NULL,
	[phanTramGioiThieu] [decimal](18, 2) NOT NULL,
	[donGiaTangCaMoiGio] [decimal](18, 0) NOT NULL,
	[soPhutLamTronTangCa] [int] NOT NULL,
	[soPhutToiThieuTinhTangCa] [int] NOT NULL,
	[apDungTuNgay] [datetime2](7) NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CauHinhLuongs] PRIMARY KEY CLUSTERED 
(
	[cauHinhLuongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongAudits]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongAudits](
	[chamCongAuditId] [int] IDENTITY(1,1) NOT NULL,
	[chamCongId] [int] NOT NULL,
	[adminNhanVienId] [int] NOT NULL,
	[thoiGianVaoCu] [datetime2](7) NULL,
	[thoiGianRaCu] [datetime2](7) NULL,
	[nghiPhepCu] [bit] NOT NULL,
	[nghiPhepCoLuongCu] [bit] NOT NULL,
	[thoiGianVaoMoi] [datetime2](7) NULL,
	[thoiGianRaMoi] [datetime2](7) NULL,
	[nghiPhepMoi] [bit] NOT NULL,
	[nghiPhepCoLuongMoi] [bit] NOT NULL,
	[lyDo] [nvarchar](max) NOT NULL,
	[suaLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChamCongAudits] PRIMARY KEY CLUSTERED 
(
	[chamCongAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongs]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongs](
	[chamCongId] [int] IDENTITY(1,1) NOT NULL,
	[nhanVienId] [int] NOT NULL,
	[thoiGianVao] [datetime2](7) NOT NULL,
	[thoiGianRa] [datetime2](7) NULL,
	[nghiPhep] [bit] NOT NULL,
	[nghiPhepCoLuong] [bit] NOT NULL,
	[anTrua] [bit] NOT NULL,
 CONSTRAINT [PK_ChamCongs] PRIMARY KEY CLUSTERED 
(
	[chamCongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatLichKhams]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatLichKhams](
	[datLichKhamId] [int] IDENTITY(1,1) NOT NULL,
	[benhNhanId] [int] NULL,
	[hoTen] [nvarchar](max) NOT NULL,
	[soDienThoai] [nvarchar](max) NOT NULL,
	[thoiGianHen] [datetime2](7) NOT NULL,
	[bacSiDuKienId] [int] NULL,
	[trangThai] [nvarchar](max) NOT NULL,
	[ghiChu] [nvarchar](max) NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DatLichKhams] PRIMARY KEY CLUSTERED 
(
	[datLichKhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotDieuTriMuaThems]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotDieuTriMuaThems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dotDieuTriId] [int] NOT NULL,
	[soBuoiThem] [int] NOT NULL,
	[soTien] [decimal](18, 2) NOT NULL,
	[muaLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DotDieuTriMuaThems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotDieuTris]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotDieuTris](
	[dotDieuTriId] [int] IDENTITY(1,1) NOT NULL,
	[benhNhanId] [int] NOT NULL,
	[bacSiKhamId] [int] NOT NULL,
	[ngayKham] [datetime2](7) NOT NULL,
	[chanDoan] [nvarchar](max) NOT NULL,
	[phacDoDieuTri] [nvarchar](max) NOT NULL,
	[goiDieuTriId] [int] NOT NULL,
	[tongSoBuoi] [int] NOT NULL,
	[soBuoiDaDung] [int] NOT NULL,
	[tongTien] [decimal](18, 0) NOT NULL,
	[daThanhToan] [decimal](18, 0) NOT NULL,
	[trangThai] [int] NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
	[ngayThanhToan] [datetime2](7) NULL,
	[phanTramGiamGia] [decimal](18, 2) NOT NULL,
	[tienSuBenh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DotDieuTris] PRIMARY KEY CLUSTERED 
(
	[dotDieuTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiDieuTris]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiDieuTris](
	[goiDieuTriId] [int] IDENTITY(1,1) NOT NULL,
	[tenGoi] [nvarchar](max) NOT NULL,
	[soBuoi] [int] NOT NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[hoatDong] [bit] NOT NULL,
 CONSTRAINT [PK_GoiDieuTris] PRIMARY KEY CLUSTERED 
(
	[goiDieuTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhamBenhs]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhamBenhs](
	[khamBenhId] [int] IDENTITY(1,1) NOT NULL,
	[benhNhanId] [int] NOT NULL,
	[bacSiId] [int] NOT NULL,
	[ngayKham] [datetime2](7) NOT NULL,
	[chanDoan] [nvarchar](max) NOT NULL,
	[phacDoDieuTri] [nvarchar](max) NOT NULL,
	[goiDieuTriId] [int] NOT NULL,
	[tinhTrangThanhToan] [nvarchar](max) NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhamBenhs] PRIMARY KEY CLUSTERED 
(
	[khamBenhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgayLes]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgayLes](
	[ngayLeId] [int] IDENTITY(1,1) NOT NULL,
	[ngay] [datetime2](7) NOT NULL,
	[ten] [nvarchar](max) NOT NULL,
	[coTinhLuong] [bit] NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NgayLes] PRIMARY KEY CLUSTERED 
(
	[ngayLeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[nhanVienId] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](max) NOT NULL,
	[vaiTro] [nvarchar](max) NOT NULL,
	[luongCoBan] [decimal](18, 0) NOT NULL,
	[hoatDong] [bit] NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[nhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKhoChiTiets]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKhoChiTiets](
	[phieuNhapKhoChiTietId] [int] IDENTITY(1,1) NOT NULL,
	[phieuNhapKhoId] [int] NOT NULL,
	[vatTuId] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGiaNhap] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PhieuNhapKhoChiTiets] PRIMARY KEY CLUSTERED 
(
	[phieuNhapKhoChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKhos]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKhos](
	[phieuNhapKhoId] [int] IDENTITY(1,1) NOT NULL,
	[ngayNhap] [datetime2](7) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[nhanVienNhapId] [int] NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
	[duongDanHoaDon] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhieuNhapKhos] PRIMARY KEY CLUSTERED 
(
	[phieuNhapKhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[thanhToanId] [int] IDENTITY(1,1) NOT NULL,
	[loai] [int] NOT NULL,
	[dotDieuTriId] [int] NULL,
	[buoiDieuTriId] [int] NULL,
	[soTien] [decimal](18, 2) NOT NULL,
	[ngayThu] [datetime2](7) NOT NULL,
	[hinhThuc] [int] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[daChot] [bit] NOT NULL,
	[taoLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[thanhToanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocVatTuBuoiDieuTris]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocVatTuBuoiDieuTris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buoiDieuTriId] [int] NOT NULL,
	[vatTuId] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_ThuocVatTuBuoiDieuTris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTus]    Script Date: 16/05/2026 4:28:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTus](
	[vatTuId] [int] IDENTITY(1,1) NOT NULL,
	[tenVatTu] [nvarchar](max) NOT NULL,
	[loai] [int] NOT NULL,
	[donViTinh] [nvarchar](max) NOT NULL,
	[donGia] [decimal](18, 0) NOT NULL,
	[tonKho] [int] NOT NULL,
 CONSTRAINT [PK_VatTus] PRIMARY KEY CLUSTERED 
(
	[vatTuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangLuongThangChiTiets] ADD  DEFAULT ((0)) FOR [nhanVienId]
GO
ALTER TABLE [dbo].[BuoiDieuTris] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [taoLuc]
GO
ALTER TABLE [dbo].[DotDieuTris] ADD  DEFAULT ((0.0)) FOR [phanTramGiamGia]
GO
ALTER TABLE [dbo].[DotDieuTris] ADD  DEFAULT (N'') FOR [tienSuBenh]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BangLuongThangChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_BangLuongThangChiTiets_BangLuongThangs_bangLuongThangId] FOREIGN KEY([bangLuongThangId])
REFERENCES [dbo].[BangLuongThangs] ([bangLuongThangId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangLuongThangChiTiets] CHECK CONSTRAINT [FK_BangLuongThangChiTiets_BangLuongThangs_bangLuongThangId]
GO
ALTER TABLE [dbo].[BangLuongThangChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_BangLuongThangChiTiets_NhanViens_nhanVienId] FOREIGN KEY([nhanVienId])
REFERENCES [dbo].[NhanViens] ([nhanVienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangLuongThangChiTiets] CHECK CONSTRAINT [FK_BangLuongThangChiTiets_NhanViens_nhanVienId]
GO
ALTER TABLE [dbo].[BuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_BuoiDieuTris_BenhNhans_benhNhanId] FOREIGN KEY([benhNhanId])
REFERENCES [dbo].[BenhNhans] ([benhNhanId])
GO
ALTER TABLE [dbo].[BuoiDieuTris] CHECK CONSTRAINT [FK_BuoiDieuTris_BenhNhans_benhNhanId]
GO
ALTER TABLE [dbo].[BuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_BuoiDieuTris_DotDieuTris_dotDieuTriId] FOREIGN KEY([dotDieuTriId])
REFERENCES [dbo].[DotDieuTris] ([dotDieuTriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuoiDieuTris] CHECK CONSTRAINT [FK_BuoiDieuTris_DotDieuTris_dotDieuTriId]
GO
ALTER TABLE [dbo].[BuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_BuoiDieuTris_NhanViens_bacSiDieuTriTayId] FOREIGN KEY([bacSiDieuTriTayId])
REFERENCES [dbo].[NhanViens] ([nhanVienId])
GO
ALTER TABLE [dbo].[BuoiDieuTris] CHECK CONSTRAINT [FK_BuoiDieuTris_NhanViens_bacSiDieuTriTayId]
GO
ALTER TABLE [dbo].[BuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_BuoiDieuTris_NhanViens_kyThuatVienTapId] FOREIGN KEY([kyThuatVienTapId])
REFERENCES [dbo].[NhanViens] ([nhanVienId])
GO
ALTER TABLE [dbo].[BuoiDieuTris] CHECK CONSTRAINT [FK_BuoiDieuTris_NhanViens_kyThuatVienTapId]
GO
ALTER TABLE [dbo].[DotDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_DotDieuTris_BenhNhans_benhNhanId] FOREIGN KEY([benhNhanId])
REFERENCES [dbo].[BenhNhans] ([benhNhanId])
GO
ALTER TABLE [dbo].[DotDieuTris] CHECK CONSTRAINT [FK_DotDieuTris_BenhNhans_benhNhanId]
GO
ALTER TABLE [dbo].[DotDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_DotDieuTris_GoiDieuTris_goiDieuTriId] FOREIGN KEY([goiDieuTriId])
REFERENCES [dbo].[GoiDieuTris] ([goiDieuTriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DotDieuTris] CHECK CONSTRAINT [FK_DotDieuTris_GoiDieuTris_goiDieuTriId]
GO
ALTER TABLE [dbo].[PhieuNhapKhoChiTiets]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKhoChiTiets_VatTus_vatTuId] FOREIGN KEY([vatTuId])
REFERENCES [dbo].[VatTus] ([vatTuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhapKhoChiTiets] CHECK CONSTRAINT [FK_PhieuNhapKhoChiTiets_VatTus_vatTuId]
GO
ALTER TABLE [dbo].[ThuocVatTuBuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_ThuocVatTuBuoiDieuTris_BuoiDieuTris_buoiDieuTriId] FOREIGN KEY([buoiDieuTriId])
REFERENCES [dbo].[BuoiDieuTris] ([buoiDieuTriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuocVatTuBuoiDieuTris] CHECK CONSTRAINT [FK_ThuocVatTuBuoiDieuTris_BuoiDieuTris_buoiDieuTriId]
GO
ALTER TABLE [dbo].[ThuocVatTuBuoiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_ThuocVatTuBuoiDieuTris_VatTus_vatTuId] FOREIGN KEY([vatTuId])
REFERENCES [dbo].[VatTus] ([vatTuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuocVatTuBuoiDieuTris] CHECK CONSTRAINT [FK_ThuocVatTuBuoiDieuTris_VatTus_vatTuId]
GO
